<div id="project">

  <%= render partial: 'steps_menu' %>

  <div class="step translators .container">
    <div class=body>
      <div class=head>
        <h2> <%= t('.assign_translators') %> </h2>
        <div><%= t('.look_for_registered_users') %></div>
      </div>

      <%= text_field_tag :person_tokens, '', { autofocus: true, class: "typeahead", 'data-url' => autocomplete_user_name_users_path } %>
      <div id="person-chapters" data-url="<%= remaining_translators_document_chapters_path @project.from_document %>" > </div>
      <div id="person-response"> </div>
      <div class=clear></div>

      <%= form_for [@project, @invitation], {remote: true} do |f| %>

        <div class=head>
          <h4 class=action> <%= t('projects.assign_chapters.invite_someone') %> </h4>
        </div>
        <div class="invitation form-group">
          <div><%= t('.write_email_by_line') %></div>
          <%= f.text_area :emails, :id => 'people_invited', rows: 8 %>
          <%= f.hidden_field :role, value: "translator" %>
          <div><%= t('.a_mail_will_be_sent') %></div>
          <%= f.submit t('.send_invitations'), {class: "btn btn-primary"} %>
          <div id="invitation-response"> </div>
        </div>
        <div class=clear></div>

      <% end %>
      <%= link_to t('projects.assign_translators.go_forward'), assign_reviewers_project_path(@project), :class => 'arrow-right right' %>
    </div>
    <div class="sidebar">
      <%= render partial: 'sidebar', locals: {type: 'translators'} %>
    </div>
    <div class="clear"> </div>

    </div>
  </div>
</div>

