<div id="project">

  <%= render partial: 'steps_menu' %>

  <div class="step">
    <h1><%= t('.assign_chapters') %></h1>
    <p><%= t('.assign_chapters_instructions') %></p>
    <div id="chapters">
      <% @project.from_paragraphs.select(['paragraphs.id', 'paragraphs.text', 'paragraphs.chapter_id']).group(:chapter_id).each do |p| %>
        <% if chapter != p.chapter_id and p.text.strip.size > 1 %>
          <div class="chapter-number">
            <%= t('.chapter_number') %>
            <strong> <%= p.chapter_id.to_s %> </strong>
          </div>
          <%= content_tag 'div', class: 'chapter', data: {url: chapter_paragraphs_project_path(@project, p.chapter_id)}  do %>
            <%= p.text %>
          <% end %>
          <div id="chapter_1_content" style="display:none">
            <%= t('.loading_content') %>
          </div>
          <div class=clear></div>
        <% end %>
      <% end %>
    </div>
  </div>
  <%= link_to t('.forward'), assign_translators_project_path(@project), :class => 'arrow-right right' %>
</div>

