<div id="project">

  <%= render partial: 'steps_menu' %>

  <div class="step">
    <h1><%= t('.assign_chapters') %></h1>
    <p><%= t('.assign_chapters_instructions') %></p>
    <div id="chapters">
      <% @project.from_document.chapters.each do |chapter| %>
        <div class="chapter-number">
          <%= t('.chapter_number') %>
          <strong> <%= chapter.id %> </strong>
        </div>
        <% klass = 'chapter-title' %>
        <% chapter.paragraphs.each do |p| %>
          <% if p.text.strip.size > 1 %>
            <%= content_tag 'div', class: 'chapter '+klass, data: {url: chapter_paragraphs_project_path(@project, chapter.id)}  do %>
              <%= p.text %>
            <% end %>
            <% klass='' %>
            <div id="chapter_1_content" style="display:none">
              <%= t('.loading_content') %>
            </div>
          <% end %>
        <% end %>
          <div class=clear></div>
      <% end %>
    </div>
  </div>
  <%= link_to t('.forward'), assign_translators_project_path(@project), :class => 'arrow-right right' %>
</div>

