<div id="project">

  <%= render partial: 'steps_menu' %>

  <div class="step translators">
    <h2> <%= t('.assign_translators') %> </h2>
    <div><%= t('.look_for_registered_users') %></div>

    <%= form_for :translator, html: {id: 'form-translator'} do |f| %>

      <%# data=@translators.map{|t| {:id => t.user.id, name: "#{t.name} &lt;#{t.email}&gt;" }} %>
      <%= f.text_field :translator_tokens, { autofocus: true, id: 'translator_tokens', class: "typeahead", 'data-url' => autocomplete_user_name_users_path } %>
      <div id="translator-chapters" data-url="<%= remaining_translators_document_chapters_path @project.from_document %>" > </div>
      <div id="translator-response"> </div>
      <div class=clear></div>

    <% end %>

    <%= form_for [@project, @invitation], remote: true do |f| %>

      <h4 class=action> <%= t('.invite_a_translator') %> </h4>
      <div class=invitation>
        <div><%= t('.write_email_by_line') %></div>
        <%= f.text_area :emails, :id => 'translators_invited', rows: 8 %>
        <%= f.hidden_field :role, value: "translator" %>
        <div><%= t('.a_mail_will_be_sent') %></div>
        <%= f.submit t('.send_invitations') %>
        <div id="invitation-response"> </div>
      </div>
      <div class=clear></div>

    <% end %>
  </div>
  <%= link_to t('projects.assign_translators.go_forward'), assign_translators_project_path(@project), :class => 'arrow-right right' %>
</div>

