<h1> <%= t('.creating_a_project') %></h1>
<%= form_for @project do |f| %>
<%= f.label :filename, t('.choose_a_file') %>
<%= f.file_field :filename %>
<%= f.label :filename, t('.original_language_of_the_document') %>
<%= collection_select @project, :language, @languages, "iso_639_1", :name %>
<% end %>
