<div id="project">

  <%= render partial: 'steps_menu', :locals => {:step => :new} %>
  <%= form_for @project do |f| %>
    <% if @project.errors.any? %>
      <div class=error_messages>
        <% @project.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </div>
    <% end %>

    <%= f.label :source_filename, t('.choose_a_file') %>
    <%= f.file_field :source_filename %>

    <%= f.label :from_language, t('.original_language_of_the_document') %>
    <%= collection_select :project, :from_language_id, @languages, :id, :name %>

    <%= f.label :to_language, t('.destination_language_of_the_document') %>
    <%= collection_select :project, :to_language_id, @languages, :id, :name %>

    <%= f.submit "submit" %>

  <% end %>
</div>
