<div id="project">

  <%= render partial: 'steps_menu' %>
  <%= form_for @project do |f| %>
    <% if @project.errors.any? %>
      <div class=error_messages>
        <% @project.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </div>
    <% end %>

    <%= f.label :source_filename, t('.choose_a_file') %>
    <%= f.file_field :source_filename %>

    <%= f.label :from_language, t('.original_language_of_the_document') %>
    <%= collection_select :project, :from_language_id, @languages, :id, :name %>

    <%= f.label :to_language, t('.destination_language_of_the_document') %>
    <%= collection_select :project, :to_language_id, @languages, :id, :name %>

    <%= label :content_type, t('.content_type') %>
    <div class="radio">
      <%= f.radio_button :content_type, 'book', checked: true %>
      <%= f.label :content_type, t('.book') %>
      <%= f.radio_button :content_type, t('.article') %>
      <%= f.label :content_type, 'article' %>
    </div>
      <div class="clear"></div>

    <%= f.submit "submit" %>

  <% end %>
</div>
