<div class="chapters-checks">
  <h3><%= t('chapters._remaining_chapters.choose_the_chapters') % {person: @user.name} %></h3>
  <%= form_tag send('assign_project_'+type+'s_path',@project), { remote: true, class: "form-inline"} do %>
  	<%= hidden_field_tag type+"[user_id]", @user.id %>
  	<% @chapters.each do |chapter| %>
  	  <div class=chapter-check>
  	  	<%= check_box_tag type+"[chapter_ids][]", chapter.id %><%= chapter.name %>
  	  </div>
  	<% end %>
    <div class="form-group">
      <%= submit_tag t("chapters._remaining_chapters.apply"), {class: "btn btn-primary form-control"} %>
      <%= submit_tag t("chapters._remaining_chapters.cancel"), {class: "form-control cancel-button"} %>
    </div>
  <% end %>
</div>
